body {
    background: #044A40;
    border-top: 5px solid #299C8C;
}
aside{
    float: left;
    background:#0B675A;
    width: 40%;
    padding: 2%;
    height: 100vh;
    color: #000;
    border-right: 5px solid #299C8C;
    border-left: 5px solid #299C8C;
}
aside h4{
    color: #fff;
    margin-top: 50px;
    font-size: 40px;
    margin-left: 40px;
}
main p {
    color: #fff;

}
main h2{
    color: #fff;
    float: left;
    padding: 10px;
    font-size: 45px;
}
